html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: none;
}

body {
  background-color: gray;
}

#restart {
  display: block;
  padding: 10px;
}

#homeButton {
  display: block;
  padding: 10px;
}

#ruleScreen {
  display: none;
}

#gameScreen {
  display: none;
}