html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: none;
  margin: auto;
}

body {
  background-color: gray;
}

#startScreen, #selectScreen, #endScreen, #ruleScreen {
  background-color: darkgrey; /* remove later; testing purposes only */
}

#ruleScreen, #gameScreen, #selectScreen, #endScreen {
  display: none;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
  margin-bottom: 0;
}

#ruleScreen>h2 {
  padding-top: 20px;
  margin-bottom: -20px;
}

h3 {
  font-size: 30px;
}

#ruleScreen>p {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 10px;
}

#ruleScreen>button {
  margin-top: 10px;
}

#ballButton1 { /* style to match active selection */
  color: red;
}

#selectScreen {
  width: 600px;
  text-align: center;
  position: relative;
  margin: auto;
}

#ruleScreen, #endScreen, #startScreen {
  width: 600px;
  text-align: center;
  position: relative;
  margin: auto;
}

#snowball {
  width: 200px;
  position: absolute;
  left: 50px;
}

#fireball {
  width: 200px;
  position: absolute;
  right: 50px;
}

#ballButton1, #ballButton2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

#ballButton1 {
  position: absolute;
  left: 50px;
  top: 275px;
}

#ballButton2 {
  position: absolute;
  right: 50px;
  top: 275px;
}

#homePage {
  position: relative;
  margin-top: 275px;
}

.buttons { /* needs more work */
  width: 200px;
  height: 50px;
  font-size: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
}